h1{
    background-color: rgb(228, 123, 48);
    color: rgb(245, 245, 246);
    margin:  0px;
    padding : 10px  20px ;
}

body{
    background-color: rgb(254, 169, 108);
    font-family : Arial, Helvetica, sans-serif;
    /* width: 500px; */
    height: 1000px;
}

.container{
    background-color:antiquewhite;
    color: #096164;
    position: relative;
    height: 500px;
    width: 500px;
    margin: 50px 500px;
    padding: 5px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: #dd9638;
    color: azure;
}

/* It wont work , as default value position will be static */
.static{
    position: static;
    /* top : 5px ; */
}

/* It takes the container as the parent (always)*/
.rel{
    position: relative;
    background-color : brown;
    color: azure;
    right : 180px;
    /* top : 5px ; */
}

/* It takes the first html tag (root elenment) as the parent (always) but if there is a parent class who's position = relative , then absoulte will take it as parent*/
.abs{
    background-color: rgb(16, 169, 118);
    right : 20px;
    bottom : 30px;
    color: azure;
    position : absolute ; 
}

/* It take  */
.fix{
    background-color: blueviolet;
    color: azure;
    position : fixed ;
    right : 90px;
    left : 340px;
    bottom: 130px;
}

.stick{
    background-color: cadetblue;
    color: azure;
    position : sticky ;
    right : 20px;
}

div{
    text-align : center ;
    border: 2px solid black;
}