.outer-container{
    width: 500px;
    height: 500px;
    background-color: lightblue;
    margin : 100px auto;
}

.inner-container{
    width: 200px;
    height: 200px;
    background-color: coral;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: scale(1.5); */
    /* transform: scalex(1.5); */
    /* transform: scalex(1.5) scaley(4.5); */
    /* transform: scale(1.5 , 1.6); */

    /* transform: skewy(20deg); */
    /* transform: skew(230deg , 45deg); */

    /* transform: translate(120px, 150px); */
    /* transform: translate(50% , 50%) ; */

    /* transform: rotate(45deg); */
    /* transform: rotate(45deg); */

    /* transform: scale(1.5) rotate(45deg) skew(20deg) translate(50%); */
    /* transform: rotate(45deg);
    transform-origin: top left; */
    
}

.inner-container:hover{
    background-color: teal;
    transform: rotate(90deg);
    transform-origin: top ;
    transition: 0.6s all ease-in-out;
}
