*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    font-size: 40px;
    padding : 10px 20px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-shadow: 10px 10px 15px grey;
}

.container{
    border : 2px solid rgb(255, 0, 0);
    padding: 10px;
    margin-top : 10px;
    display: grid;
    /* grid-template-columns: 100px 400px 100px; */
    grid-template-columns: 1fr 2fr 1fr;
    gap : 10px;
    justify-content: center;
}

.item{
    border: 1px solid green;
    padding: 20px;
    text-align: center;
}