*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    font-size: 40px;
    padding : 10px 20px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-shadow: 10px 10px 15px grey;
}

.container{
    border : 2px solid rgb(255, 0, 0);
    padding: 10px 10px;
    margin-top : 10px;
    display: grid;
    /* grid-template-columns: 100px 400px 100px; */
    /* grid-template-columns: 1fr 2fr 1fr; */ /* fr = fraction (fragment values)*/
    grid-template-columns: repeat(4,1fr); /*repeat(number of times, value) -> repeat(4,auto) or repeat(auto-fill,100px)*/    grid-auto-rows: 100px;
    gap : 10px;
    justify-content: space-evenly;
    align-content: center;
}

.item{
    border: 1px solid green;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(173, 216, 230);
    justify-content: center;
    align-content: center;
}

#item-1{
    grid-column: 1 / 3; /* grid-column: start / end */
    grid-row: 1 / 3;    /* grid-row: start / end */

    grid-area: 4 / 4 / 4 / 4; /* grid-area: row-start / column-start / row-end / column-end */
}