*{
    box-sizing: border-box;
    
}

body{
    margin :0px;
    padding: 0px;
    background-color: #fefae0;
}

div{
    border-radius: 8px;
    border: 4px solid #dda15e;
    margin: 20px , 40px;
    padding: 20px , 40px;
    background-color:#bc6c25;
    color: #fefae0;
    text-align: center;
}

h1{
    text-align: center;
}

p{
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
    color: #283618;
}

ul{
    color : #003049;
    padding-bottom : 10px ;
    margin : 20px;
}