*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

.header{
    background-color: #2c3e50;
    color: white;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.logo tagline{
    font-size: 0.9rem;
    font-weight: lighter;
    opacity: 0.8;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 40px; */
    gap: 2rem;
}

.nav-links a{
    color:white;
    text-decoration: none;
    padding: 0.5rem 1rem ;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, color 0.3s;
}

.nav-links a:hover{
    background-color: #34495e;
    color: #ffffff;
}

.hero{
    height: 100vh;
    margin-top: 80px;
    /* background: rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5); */
    /* background: url(Images/photo-1517248135467-4c7edcad34c4.avif) center/cover no-repeat; */
    /* background-size: cover;
    background-position: center; */
    background: linear-gradient(rgba(0,0,0,0.6) ,rgba(0,0,0,0.6)) , url(Images/paul-griffin-WWST6E8LxeE-unsplash.jpg) center/cover no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.hero-content h2{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 600px;
}

.hero-buttons{
    display: flex;
    gap : 1rem;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
}

.btn-primary{
    background-color: #e74c3c;
    color: white;
}

.btn-primary:hover{
    background-color: #c0392b;
    transform: translate(0 , -5px);
}

.btn-secondary{
    background-color: transparent;
    color: #ffff;
    border: 2px solid #ffff;
}

.btn-secondary:hover{
    background-color: white;
    color: #2c3e50;
    transform: translate(0 , -5px);
}

.menu{
    padding: 5rem 0;
    background-color: #f8f9fa;
}


.section-title{
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 1rem;
    color: #2c3e50;
}

.section-subtitle{
    color: #666;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.1rem;
}

.menu-category h3{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #2c3e50;
    border-bottom: 2px solid #e74c3c;
    padding-bottom: 0.5rem;
}

.about h3{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #2c3e50;
    /* border-bottom: 2px solid #e74c3c; */
    padding-bottom: 0.5rem;
}

.menu-items{
    display: flex;
    justify-content: space-between;   
    align-items: flex-start;
    padding: 1.5rem ;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0  2px 10px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
}

.menu-items:hover{
    transform: translate(5px ,-3px) ;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.2));
}

.menu-item h4{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #2c3e50;
}

.price{
    font-size: 1.1rem;
    font-weight: bold;
    color: #e74c3c;
    margin-left: 1rem;
}

.about{
    padding: 5rem 0;
    margin: 0 50px;
    background-color: #ffffff;
}

.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    gap : 3rem;
    align-items: center;
}

.about h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2c3e50;
}

.about p{
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}


.about-image img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.about-text{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2c3e50;
}


.contact{
    padding: 5rem 0 ;
    background-color: #f8f9fa;
}

.contact-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.contact-info h3 , .contact-form h3{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #2c3e50;
}

.contact-content{
    margin-bottom: 1rem;
}

.contact-content strong {
    display: block;
    margin-bottom: 0.5rem;
    color : #2c3e50;
}

.form-group {
    margin-bottom: 1.5rem;    
}

.form-group label{
    display: block;
    flex-direction: column;
    color: #2c3e50;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea{
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.form-group :focus,
.form-group select:focus,
.form-group textarea:focus{
    border-color: #e74c3c;
    outline: none;
}