.container1{
    width: 400px;
    /* height: 400px; */
    border: 2px solid #000;
    /* overflow: visible; */ /* default value */
    /* overflow: scroll; */
    /* overflow: hidden; */
    /* overflow:auto */
    text-align: justify;
    padding: 15px 15px;
}

.container2{
    width: 400px;
    /* height: 400px; */
    border: 2px solid #000;
    overflow: auto;
    text-align: justify;
    padding: 15px 15px;
    margin-top: 20px;
    float: right;
}
.img2{
    float: right;
    margin: 0 0 15px 15px;
}
.img1{
    float: left;
    margin: 0 15px 15px 0;
}

.img1, .img2{
    width: 200px;
    clear : both;
}

h1{
    text-align: center;
}